#Its a satndard in python enviorment at any time you have python project and you want to specify it require certain library it is convention to put those inside requirements



Flask
gunicorn 
sqlalchemy
psycopg2-binary
werkzeug
flask-socketio
eventlet
requests