<div class="border-bottom" style = "margin-top:15px; margin-bottom:1px; padding-bottom:10px; align-content:space-between;">

  <div style="float:left;">
    <h4 style="color:rgb(120,120,120); margin-bottom:3px;"> 
    {{idx['title']}}
    </h4>

    <div><b>Location :</b> {{idx['location']}}</div>


    {% if 'salary' in idx%}
  <div><b>Salary :</b> {{idx['salary']}}</div>
    {% endif %}
  </div>

  
  <div style="float:right;">
    <button type="button" class="btn btn-outline-info">Apply</button>
  </div>

</div>