<div class="border-bottom" style = "margin-top:15px; display:flex; margin-bottom:1px; padding:8px; justify-content:space-between; background:#f9f9f9;">

  <div>
    <h4 style="color:rgb(120,120,120); margin-bottom:3px;"> 
    {{idx['title']}}
    </h4>

    <div><b>Location :</b> {{idx['location']}}</div>


    {% if 'salary' in idx%}
  <div><b>Salary :</b> {{idx['salary']}}</div>
    {% endif %}
  </div>


  
  <div style="display:flex; align-items:center;">
    {% if not session.get("logged_in") %}
    <a href="/jobs/{{idx['id']}}"  type="button" class="btn btn-outline-primary float-right align-middle disabled-link" style="margin-right:5px;">LogIn to Apply</a>
    {% else %}
        <a href="/jobs/{{idx['id']}}"  type="button" class="btn btn-outline-primary float-right align-middle" style="margin-right:5px;">Apply</a>
    {% endif %}
  
  </div>

</div>