<div class="border-bottom" style = "margin-top:15px; margin-bottom:1px; padding:8px; align-content:space-between; background:#f9f9f9;">

  <div style="float:left;">
    <h4 style="color:rgb(120,120,120); margin-bottom:3px;"> 
    {{idx['title']}}
    </h4>

    <div><b>Location :</b> {{idx['location']}}</div>


    {% if 'salary' in idx%}
  <div><b>Salary :</b> {{idx['salary']}}</div>
    {% endif %}
  </div>

  
  <div style="float:right;">
    <a href="mailto:abc@xyz.com?cc=xuv@xyz.com&subject=Applying%20for%20{{idx['title']}}%20Executive%20Post&body=Dear%20Sir%2FMam%2C%0D%0A%0D%0AMy%20name%20is%20%3Cyour%20name%3E%0D%0AI%20have%20experience%20of%20%3Ctime-period%3E%0D%0AI%20am%20interested%20in%20%3Center%20role%3E%0D%0A%0D%0A%3CAttach%20Resume%3E%0D%0A%0D%0AThanks%20and%20Regards%2C%0D%0A%3CYour%20name%3E" type="button" class="btn btn-outline-primary float-right align-middle" style="margin-right:5px;">Apply</a>
  </div>

</div>